@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Olle Strand Server Manager</h1>
    <p class="lead">A Basic system to contol your servers from the web</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To use the system you´ll have to setup some variables in the configuration file!
        </p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("How &raquo;"), "Index", "Setup", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Add Users</h2>
        <p>This project focuses on helping you managing your community with a User System. Add them here!</p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("User Page &raquo;"), "CreateUser", "User", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>